{% extends "layout_login.html" %} {% block title %}{{ album.name }}{% endblock %} {% block contents %}
<!--{{album}}-->
<!--{{photos}}-->

<div class="photo_list">
	{% for i in photos %}
	<div class="photo">
		<div class="photo_border">
			<a href="/photo/{{ i.file_id }}">
				<img src="/photo/{{ i.file_id }}"
             width="300">
      </a><br>
      <span class="datetime">{{ i.created_at }}</span>
  </div><br>

<a href="public_change/{{i.album_id}}/{{i.file_id}}" class="pure-button">
{% if i.public %}
公開する
{% else %}
公開しない
{% endif %}
</a>
<a href="photo_delete/{{i.album_id}}/{{i.file_id}}" class="pure-button">削除する</a>



<br>
    <form action="album_change/{{i.file_id}}" method="POST"
    enctype="multipart/form-data"
    class="pure-form pure-form-aligned">
    <div class="pure-control-group">
      <label for="album">アルバムの選択:</label>
      <select name="album" id="album">
        
        {% for i in albums %}
          <option value="{{ i.album_id }}">
            {{ i.name }}</option>
        {% endfor %}
      </select>
    <button type="submit" class="pure-button">変更する</button>
    </div>

    </form>
  </div>

{% endfor %}
</div>
<div class="info_box">
  <a class="pure-button"
    href="/myhomepage">
    マイホームページへ</a>
</div>
{% endblock %}